<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naimur978.forum"

    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Health Forum"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".BloodDonationMap.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name=".BloodDonationMap.DonorList" />
        <activity android:name=".BloodDonationMap.DonorForm" />
        <activity android:name=".BloodDonationMap.NeedBlood" />
        <activity android:name=".BloodDonationMap.Information" />
        <activity android:name=".BloodDonationMap.FirstPageActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddPostActivity"/>
        <activity android:name=".PostDetailsActivity" />
<!--        <activity-->
<!--            android:name=".AddPostActivity"-->
<!--            android:label="Add New Post" />-->
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".DashboardActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TheirProfileActivity" />

        <service
            android:name=".Notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.naimur978.forum.filesprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBGlGxr3k3sdgpplv6JpaDxQKDvfObHuJM" />



    </application>

</manifest>